In [1]:
import pandas as pd
import numpy as np
import math
from copy import deepcopy

In [2]:
df = pd.read_csv('assignment2_input.txt', sep = '\t', names=['0','1', '2', '3','4','5','6','7','8','9','10','11'])

In [3]:
k = 10

In [4]:
def distance(x, y):
  distance = 0
  for i in range(len(x)):
    distance = (distance + (x[i] - y[i]) ** 2) ** 0.5
  return distance

In [5]:
centroids = df.sample(k, random_state=50)

In [6]:
labels = np.zeros(len(df))

for i in range(len(df)):
  distances = np.zeros(k)
  for j in range(k):
    distances[j] = distance(df.values[i], centroids.values[j])
  cluster = np.argmin(distances)
  labels[i] = cluster

In [7]:
centroids_old = deepcopy(centroids)

In [8]:
centroids_old = np.zeros(centroids.shape)
labels = np.zeros(len(df))
error = np.zeros(k)
for i in range(k):
  error[i] = distance(centroids_old[i], centroids.values[i])
while(error.all() != 0):
  for i in range(len(df)):
    distances = np.zeros(k)	
    for j in range(k):
      distances[j] = distance(df.values[i], centroids.values[j])
    cluster = np.argmin(distances)
    labels[i] = cluster
  centroids_old = deepcopy(centroids.values)
  for i in range(k):
    points = [df.values[j] for j in range(len(df)) if labels[j] == i]
    centroids.values[i] = np.mean(points, axis=0)
  for i in range(k):
    error[i] = distance(centroids_old[i], centroids.values[i])

In [9]:
df

       0     1     2     3     4     5     6     7     8     9    10    11
0    1.0  1.58  1.05  1.15  1.22  0.54  0.73  0.82  0.82  0.90  0.73  0.75
1    1.0  1.10  0.97  1.00  0.90  0.67  0.81  0.88  0.77  0.71  0.57  0.46
2    1.0  0.97  1.00  0.85  0.84  0.72  0.66  0.68  0.47  0.61  0.59  0.65
3    1.0  1.21  1.29  1.08  0.89  0.88  0.66  0.85  0.67  0.58  0.82  0.60
4    1.0  1.45  1.44  1.12  1.10  1.15  0.79  0.77  0.78  0.71  0.67  0.36
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
495  1.0  1.30  2.78  5.20  2.95  2.31  3.08  2.77  1.87  1.77  1.66  1.72
496  1.0  2.41  3.57  7.18  4.86  3.10  3.58  3.93  2.28  2.19  2.16  2.23
497  1.0  2.09  3.37  5.52  4.89  3.05  3.27  4.29  2.72  2.15  2.05  2.25
498  1.0  1.52  4.39  7.03  5.45  2.93  3.91  4.44  2.40  1.97  2.21  1.79
499  1.0  2.25  4.67  7.94  5.94  3.76  4.46  4.60  2.43  1.86  1.57  1.26

[500 rows x 12 columns]

In [10]:
cluster = pd.DataFrame(labels)

In [11]:
df['cluster_num'] = cluster

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,cluster_num
0,1.0,1.58,1.05,1.15,1.22,0.54,0.73,0.82,0.82,0.90,0.73,0.75,7.0
1,1.0,1.10,0.97,1.00,0.90,0.67,0.81,0.88,0.77,0.71,0.57,0.46,6.0
2,1.0,0.97,1.00,0.85,0.84,0.72,0.66,0.68,0.47,0.61,0.59,0.65,6.0
3,1.0,1.21,1.29,1.08,0.89,0.88,0.66,0.85,0.67,0.58,0.82,0.60,6.0
4,1.0,1.45,1.44,1.12,1.10,1.15,0.79,0.77,0.78,0.71,0.67,0.36,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,1.30,2.78,5.20,2.95,2.31,3.08,2.77,1.87,1.77,1.66,1.72,5.0
496,1.0,2.41,3.57,7.18,4.86,3.10,3.58,3.93,2.28,2.19,2.16,2.23,2.0
497,1.0,2.09,3.37,5.52,4.89,3.05,3.27,4.29,2.72,2.15,2.05,2.25,2.0
498,1.0,1.52,4.39,7.03,5.45,2.93,3.91,4.44,2.40,1.97,2.21,1.79,2.0
499,1.0,2.25,4.67,7.94,5.94,3.76,4.46,4.60,2.43,1.86,1.57,1.26,5.0

In [127]:
print(cluster.size())

TypeError: 'numpy.int32' object is not callable