In [2]:
import pandas as pd
import numpy as np
import math
from copy import deepcopy

In [3]:
df = pd.read_csv('assignment2_input.txt', sep = '\t', names=['0','1','2','3','4','5','6','7','8','9','10','11'])
df.values

array([[1.  , 1.58, 1.05, ..., 0.9 , 0.73, 0.75],
       [1.  , 1.1 , 0.97, ..., 0.71, 0.57, 0.46],
       [1.  , 0.97, 1.  , ..., 0.61, 0.59, 0.65],
       ...,
       [1.  , 2.09, 3.37, ..., 2.15, 2.05, 2.25],
       [1.  , 1.52, 4.39, ..., 1.97, 2.21, 1.79],
       [1.  , 2.25, 4.67, ..., 1.86, 1.57, 1.26]])

In [3]:
k = 10

In [4]:
def distance(x, y):
  distance = 0
  for i in range(len(x)):
    distance = (distance + (x[i] - y[i]) ** 2) ** 0.5
  return distance

In [5]:
centroids = df.sample(k, random_state=50)

In [6]:
labels = np.zeros(len(df))  # 각 데이터 포인트를 그룹화 할 labels을 생성

# 각 데이터를 순회하면서 centroids와의 거리를 측정
for i in range(len(df)):
  distances = np.zeros(k)
  for j in range(k):
    distances[j] = distance(df.values[i], centroids.values[j])
  cluster = np.argmin(distances)
  labels[i] = cluster

In [7]:
centroids_old = deepcopy(centroids)

In [8]:
centroids_old = np.zeros(centroids.shape) # 제일 처음 centroids_old는 0으로 초기화
labels = np.zeros(len(df))

error = np.zeros(k) # error 초기화
for i in range(k):
  error[i] = distance(centroids_old[i], centroids.values[i])

# STEP 4: error가 0에 수렴할 때 까지 2 ~ 3 단계를 반복
while(error.all() != 0):                   
    # STEP 2: 가까운 centroids에 데이터를 할당
  for i in range(len(df)):
    distances = np.zeros(k)	       # 초기 거리는 모두 0으로 초기화
    for j in range(k):
      distances[j] = distance(df.values[i], centroids.values[j])
    cluster = np.argmin(distances)
    labels[i] = cluster
    
    # Step 3: centroids를 업데이트 시켜줌
  centroids_old = deepcopy(centroids.values)
  for i in range(k):
    # 각 그룹에 속한 데이터들만 골라 points에 저장
    points = [df.values[j] for j in range(len(df)) if labels[j] == i]
    
    # points의 각 feature, 즉 각 좌표의 평균 지점을 centroid로 지정
    centroids.values[i] = np.mean(points, axis=0)
    
  # 새롭게 centroids를 업데이트 했으니 error를 다시 계산  
  for i in range(k):
    error[i] = distance(centroids_old[i], centroids.values[i])

In [9]:
df

       0     1     2     3     4     5     6     7     8     9    10    11
0    1.0  1.58  1.05  1.15  1.22  0.54  0.73  0.82  0.82  0.90  0.73  0.75
1    1.0  1.10  0.97  1.00  0.90  0.67  0.81  0.88  0.77  0.71  0.57  0.46
2    1.0  0.97  1.00  0.85  0.84  0.72  0.66  0.68  0.47  0.61  0.59  0.65
3    1.0  1.21  1.29  1.08  0.89  0.88  0.66  0.85  0.67  0.58  0.82  0.60
4    1.0  1.45  1.44  1.12  1.10  1.15  0.79  0.77  0.78  0.71  0.67  0.36
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
495  1.0  1.30  2.78  5.20  2.95  2.31  3.08  2.77  1.87  1.77  1.66  1.72
496  1.0  2.41  3.57  7.18  4.86  3.10  3.58  3.93  2.28  2.19  2.16  2.23
497  1.0  2.09  3.37  5.52  4.89  3.05  3.27  4.29  2.72  2.15  2.05  2.25
498  1.0  1.52  4.39  7.03  5.45  2.93  3.91  4.44  2.40  1.97  2.21  1.79
499  1.0  2.25  4.67  7.94  5.94  3.76  4.46  4.60  2.43  1.86  1.57  1.26

[500 rows x 12 columns]

In [10]:
cluster = pd.DataFrame(labels)

In [11]:
df['cluster_num'] = cluster

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,cluster_num
0,1.0,1.58,1.05,1.15,1.22,0.54,0.73,0.82,0.82,0.90,0.73,0.75,7.0
1,1.0,1.10,0.97,1.00,0.90,0.67,0.81,0.88,0.77,0.71,0.57,0.46,6.0
2,1.0,0.97,1.00,0.85,0.84,0.72,0.66,0.68,0.47,0.61,0.59,0.65,6.0
3,1.0,1.21,1.29,1.08,0.89,0.88,0.66,0.85,0.67,0.58,0.82,0.60,6.0
4,1.0,1.45,1.44,1.12,1.10,1.15,0.79,0.77,0.78,0.71,0.67,0.36,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,1.30,2.78,5.20,2.95,2.31,3.08,2.77,1.87,1.77,1.66,1.72,5.0
496,1.0,2.41,3.57,7.18,4.86,3.10,3.58,3.93,2.28,2.19,2.16,2.23,2.0
497,1.0,2.09,3.37,5.52,4.89,3.05,3.27,4.29,2.72,2.15,2.05,2.25,2.0
498,1.0,1.52,4.39,7.03,5.45,2.93,3.91,4.44,2.40,1.97,2.21,1.79,2.0
499,1.0,2.25,4.67,7.94,5.94,3.76,4.46,4.60,2.43,1.86,1.57,1.26,5.0

In [26]:
for i in range (0,10):
    print(len(df.loc[df['cluster_num'] == i]),":",df.loc[df['cluster_num'] == i].index.tolist())

49 : [102, 103, 104, 105, 107, 108, 116, 117, 118, 119, 121, 124, 125, 148, 183, 184, 185, 186, 187, 188, 194, 196, 199, 200, 201, 202, 203, 204, 205, 206, 207, 217, 220, 222, 223, 227, 229, 235, 238, 286, 287, 288, 289, 292, 299, 300, 331, 372, 494]
31 : [284, 293, 306, 307, 308, 309, 310, 311, 313, 314, 315, 316, 317, 320, 321, 323, 324, 325, 378, 380, 381, 427, 428, 429, 447, 452, 453, 454, 455, 473, 474]
38 : [100, 285, 291, 294, 296, 301, 304, 338, 357, 366, 367, 373, 386, 389, 393, 396, 397, 401, 402, 405, 418, 420, 421, 422, 425, 434, 435, 436, 444, 445, 449, 463, 466, 467, 472, 496, 497, 498]
19 : [281, 341, 342, 343, 344, 347, 352, 353, 354, 358, 359, 360, 460, 477, 478, 479, 489, 490, 491]
2 : [345, 423]
38 : [101, 246, 303, 346, 355, 356, 361, 362, 368, 369, 370, 371, 391, 395, 398, 400, 403, 406, 408, 411, 412, 414, 415, 416, 419, 433, 441, 442, 443, 448, 457, 464, 468, 469, 470, 476, 495, 499]
132 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 96, 99, 127, 128, 129, 130, 137, 139, 140, 141, 142, 145, 147, 153, 156, 157, 158, 167, 177, 215, 240, 248, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 280, 282]
122 : [0, 14, 16, 24, 26, 29, 30, 31, 32, 33, 35, 48, 80, 81, 93, 94, 95, 97, 98, 106, 109, 110, 111, 112, 113, 114, 115, 120, 122, 123, 126, 131, 132, 133, 134, 135, 136, 138, 143, 144, 146, 149, 150, 151, 152, 154, 155, 159, 160, 161, 162, 163, 164, 165, 166, 168, 169, 170, 171, 172, 173, 174, 175, 176, 178, 179, 180, 181, 182, 189, 190, 191, 192, 193, 195, 197, 198, 208, 209, 210, 211, 212, 213, 214, 216, 218, 219, 221, 224, 225, 226, 228, 230, 231, 232, 233, 234, 236, 237, 239, 241, 242, 243, 244, 247, 249, 297, 298, 326, 327, 328, 329, 330, 334, 335, 337, 399, 481, 482, 483, 484, 486]
29 : [245, 279, 332, 333, 336, 339, 340, 348, 349, 350, 351, 363, 364, 365, 392, 413, 456, 458, 459, 461, 462, 465, 471, 480, 485, 487, 488, 492, 493]
40 : [283, 290, 295, 302, 305, 312, 318, 319, 322, 374, 375, 376, 377, 379, 382, 383, 384, 385, 387, 388, 390, 394, 404, 407, 409, 410, 417, 424, 426, 430, 431, 432, 437, 438, 439, 440, 446, 450, 451, 475]

In [27]:
for i in range (0,10):
    size = len(df.loc[df['cluster_num'] == i])
    index = df.loc[df['cluster_num'] == i].index.tolist()

In [30]:
df['size'] = size
df['index'] = index

ValueError: Length of values (40) does not match length of index (500)

In [29]:
df1

    size  index
0    NaN    283
1    NaN    290
2    NaN    295
3    NaN    302
4    NaN    305
5    NaN    312
6    NaN    318
7    NaN    319
8    NaN    322
9    NaN    374
10   NaN    375
11   NaN    376
12   NaN    377
13   NaN    379
14   NaN    382
15   NaN    383
16   NaN    384
17   NaN    385
18   NaN    387
19   NaN    388
20   NaN    390
21   NaN    394
22   NaN    404
23   NaN    407
24   NaN    409
25   NaN    410
26   NaN    417
27   NaN    424
28   NaN    426
29   NaN    430
30   NaN    431
31   NaN    432
32   NaN    437
33   NaN    438
34   NaN    439
35   NaN    440
36   NaN    446
37   NaN    450
38   NaN    451
39   NaN    475